*.class


/node_modules

#SSH keys

*.pem
*.ppk

#Mobile Tools form Java (J2ME)
.mtj.tmp/

#Package Files #
*.jar
*.war
*.ear

#Gradle temporary files
target/

#Eclipse files
**/.project
**/.classpath
**/.settings
/bin/
blog/bin/
**/.tern-project

#IntelliJ files
**/.iml
**/.idea
**/.gradle
